#system_panel .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    background-color: blue;
    padding: 4px;
    border: 4px solid black;

    .panel_area {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100%;
        background-color: #0077ff;
        cursor: pointer;

        &:hover {
            background-color: #6daff0;
            outline: 4px solid white;
        }

        h3 {
            font-size: large;
            padding: 6px 18px 6px 6px;
            margin: 0 auto 6px 0;
            border-bottom-right-radius: 10px;
            background-color: #b1cbe5;
            width: fit-content;
        }
        .panel_box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            gap: 2px;
            padding: 4px;
           
            span {
                height: 100%;
                width: 100%;
                flex: 1;
                background-color: #002a5a; // dark blue
            }
        }
    }
}